{% extends "admin/base_site.html" %}
{% load i18n %}
{% block title %}Votes by Album{% endblock %}

{% block content %}
<div id="content" class="module">

    <div class="results">
        <table id="result_list">
            <thead>
                <tr>
                    <th scope="col">Album</th>
                    <th scope="col">Number of Votes</th>
                    <th scope="col">Voters</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in data %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <td><strong>{{ entry.album.title }}</strong></td>
                    <td>{{ entry.vote_count }}</td>
                    <td>
                        {% if entry.voters %}
                        {{ entry.voters|join:", " }}
                        {% else %}
                        <em>No votes yet</em>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}