# Python cache / compiled files
__pycache__/
*.py[cod]
*$py.class

# Environment / virtualenv
env/
venv/
.venv/
ENV/
VENV/
*.env
.env.*
venv
.env

# Django stuff
*.log
*.pot
*.pyc
*.pyo
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

.pytest_cache/

htmlcov/
.coverage
coverage.xml
nosetests.xml
