{% extends "core/base.html" %}

{% load static %}

{% block title %}
Vote for Album
{% endblock %}

{% block extra_head %}
<script src="{% static 'core/scripts/voting.js' %}" defer></script>
{% endblock %}


{% block content %}
<div id="alert-container" class="position-fixed top-0 start-50 translate-middle-x p-3"
    style="z-index: 1080; width: 100%; max-width: 600px;">
</div>


<div class="album_voting_container">
    <h2>Vote for Your Favorite Album</h2>


    <div class="vote-rules">
        <p>You can vote for any album once per day. The Voting Period is 7 days long. Come back tomorrow to build your
            voting streak. <strong>Queen's Circle Badge holders have 2 daily votes</strong><br><a
                style="text-decoration: none; font-style: italic;" href="{% url 'referral' %}">How to get the Badge?</a>
        </p>
    </div>
    <div class="album-grid-wrapper">
        <div class="album-grid">


            <div class="album-card album-card-dil"
                style="background-image: url('{% static 'core/album_covers/dil_cover.jpeg' %}');">
                <div class="album-overlay">

                    <div class="album-info">
                        <span class="album-title">Dangerously in Love</span>
                        <button class="vote-btn" data-album-id="1"
                            data-vote-url="{% url 'vote-album' 1 %}">Vote</button>
                    </div>
                </div>
            </div>


            <div class=" album-card album-card-bday"
                style="background-image: url('{% static 'core/album_covers/bday_cover.jpeg' %}');">
                <div class="album-overlay">

                    <div class="album-info">
                        <span class="album-title">B'Day</span>
                        <button class="vote-btn" data-album-id="2"
                            data-vote-url="{% url 'vote-album' 2 %}">Vote</button>
                    </div>
                </div>
            </div>


            <div class="album-card album-card-iasf"
                style="background-image: url('{% static 'core/album_covers/iasf_cover.png' %}');">
                <div class="album-overlay">
                    <div class="album-info">
                        <span class="album-title">I Am... Sasha Fierce </span>
                        <button class="vote-btn" data-album-id="3"
                            data-vote-url="{% url 'vote-album' 3 %}">Vote</button>
                    </div>
                </div>
            </div>


            <div class=" album-card album-card-4"
                style="background-image: url('{% static 'core/album_covers/4_cover.jpeg' %}');">
                <div class="album-overlay">
                    <div class="album-info">
                        <span class="album-title">4</span>
                        <button class="vote-btn" data-album-id="4"
                            data-vote-url="{% url 'vote-album' 4 %}">Vote</button>
                    </div>
                </div>
            </div>


            <div class="album-card album-card-bey"
                style="background-image: url('{% static 'core/album_covers/beyoncest_cover.jpg' %}');">
                <div class="album-overlay">

                    <div class="album-info">
                        <span class="album-title">BEYONCÉ</span>
                        <button class="vote-btn" data-album-id="5"
                            data-vote-url="{% url 'vote-album' 5 %}">Vote</button>
                    </div>
                </div>
            </div>

            <div class="album-card album-card-lem"
                style="background-image: url('{% static 'core/album_covers/lemonade_cover.png' %}');">
                <div class="album-overlay">

                    <div class="album-info">
                        <span class="album-title">Lemonade</span>
                        <button class="vote-btn" data-album-id="6"
                            data-vote-url="{% url 'vote-album' 6 %}">Vote</button>
                    </div>
                </div>
            </div>

            <div class="album-card album-card-tlg"
                style="background-image: url('{% static 'core/album_covers/tlg_cover.jpg' %}');">
                <div class="album-overlay">

                    <div class="album-info">
                        <span class="album-title">The Lion King: The Gift</span>
                        <button class="vote-btn" data-album-id="7"
                            data-vote-url="{% url 'vote-album' 7 %}">Vote</button>
                    </div>
                </div>
            </div>

            <div class="album-card album-card-ren"
                style="background-image: url('{% static 'core/album_covers/renaissance_cover.png' %}');">
                <div class="album-overlay">

                    <div class="album-info">
                        <span class="album-title">RENAISSANCE</span>
                        <button class="vote-btn" data-album-id="8"
                            data-vote-url="{% url 'vote-album' 8 %}">Vote</button>
                    </div>
                </div>
            </div>

            <div class="album-card album-card-cc"
                style="background-image: url('{% static 'core/album_covers/cowboy_carter_cover.png' %}');">
                <div class="album-overlay">

                    <div class="album-info">
                        <span class="album-title">COWBOY CARTER</span>
                        <button class="vote-btn" data-album-id="9"
                            data-vote-url="{% url 'vote-album' 9 %}">Vote</button>
                    </div>
                </div>
            </div>


        </div>
        <!--<div class="pre-vote-overlay">
            <p>Voting hasn’t started yet — come back on Oct 28, 2025!</p>
        </div>
    </div>--->

    </div>
    <!--<div class="container text-center my-5">
    <h1 class="mb-4 voting-page-title">Beyoncé Album Voting</h1>
    
    <p class="lead mb-5">Get ready to vote for your favorite Beyoncé album from 28 October 2025.</p>

    <div id="countdown" class="d-flex justify-content-center gap-4 flex-wrap">
        <div class="timer-box p-3 rounded shadow text-white">
            <h2 id="days">0</h2>
            <p>Days</p>
        </div>
        <div class="timer-box p-3 rounded shadow text-white">
            <h2 id="hours">0</h2>
            <p>Hours</p>
        </div>
        <div class="timer-box p-3 rounded shadow text-white">
            <h2 id="minutes">0</h2>
            <p>Minutes</p>
        </div>
        <div class="timer-box p-3 rounded shadow text-white">
            <h2 id="seconds">0</h2>
            <p>Seconds</p>
        </div>
    </div>
</div>-->


    {% endblock %}