{% extends "core/base.html" %}

{% load static %}

{% block title %}Home{% endblock %}

{% block extra_head %}
<style>
    @media (max-width: 768px) {
        .intro-section {
            background-image: url("{% static 'core/beyonce_bg.jpg' %}") !important;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            overflow: hidden;
            position: relative;
        }
    }
</style>
{% endblock %}

{% block content %}
<div class="page-wrapper">
    <main>
        <div class="intro-section">
            <div class="intro-content text-center">
                <div class="alert alert-primary alert-dismissible fade show" role="alert" id="index-alert">
                    <strong>Hey there!</strong> Please share the site with fellow Beyoncé fans! For the voting to be
                    effective,
                    we need as
                    many fans as possible. 💜 Go to the Share page(in the navbar) to find out more.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <h1 class="intro-title">Heyyy Hive! 🐝</h1>
                <p class="intro-text">
                    Here’s your chance to show love to Beyoncé’s legendary discography.
                    From <em>Dangerously in Love</em> to <em>Cowboy Carter</em>, every album has shaped the culture.
                    Cast your vote for the album and song that reigns supreme in your heart, and see which era the Hive
                    crowns
                    as the
                    ultimate favorite.
                </p>

                <a href="{% url 'album_voting' %}" class="btn-main">✨ Go to Voting ✨</a>

            </div>
        </div>

    </main>


</div>

{% endblock %}