{% extends "core/base.html" %}

{% load static %}

{% block title %}Welcome {% endblock %}

{% block nav %}{% endblock %}

{% block content %}
<main class="index-container d-flex flex-column justify-content-center align-items-center text-center">
    <div class="alert alert-success alert-dismissible fade show" role="alert" id="index-alert">
        <strong>Notice!</strong> Welcome to Beymore! Please note that this is an early version of the site. Feel free to
        email your feedback or suggestions

        Welcome aboard, early user! 🚀 - (Development Team).
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <h1 class="mb-3">Beymore</h1>
    <h2 class="subtitle mb-4">Vote for all things Beyoncé with fans from around the world</h2>

    <div class="auth-buttons">
        <a href="{% url 'signup' %}" class="btn btn-to-auth-1 w-100">Sign Up</a>
        <a href="{% url 'login' %}" class="btn btn-to-auth-2 w-100">Log In</a>
    </div>
    <p style="position: absolute; bottom: 0; font-size:medium; ">Problems, Suggestions? Get in touch: <a
            href="mailto:mleefa5002@gmail.com">mleefa5002@gmail.com</a></p>

</main>
{% endblock %}