{% extends "core/base.html" %}
{% load static %}

{% block title %}Lobby{% endblock %}

{% block extra_head %}
{% endblock %}
{% block content %}

{% if messages %}
{% for message in messages %}
<div class="lobby-alert alert alert-{{ message.tags }} mt-3" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}

<div class="lobby-container text-center">
    <h2>Welcome to the Beymore Voting Lobby</h2>
    <p class="count-display">👥 Currently <strong>{{ count }}</strong> {% if count == 1 %} person is waiting in the
        lobby. {% else %} people are waiting in the lobby. {% endif %}</p>
    <p class="mt-3">Album Voting session will begin on 28 October 2025! Get ready to defend your favorite Beyoncé
        era 🎶✨ <br> You will receive an email with more details and for verification close to the Voting Period. <br>
        Note: You will not be able to vote if we are not able to verify your email before Voting Period. </p>

    <a href="{% url 'album_voting' %}" class="btn-main btn-main-2">✨ Go to Voting ✨</a>

    <!--PROFILE COUNTRIES IN LOBBY-->
    <h2>Country Stats</h1>

        <div class="country-stats">
            {% for country, count in country_stats %}
            <div class="country-stat-item">
                <span class="country-name">{{ country.name }}</span>

                <img src="{{ country.flag }}" alt="Flag of {{ country.name }}" class="country-flag">

                <span class="profile-count">{{ count }} fan{% if count != 1 %}s{% endif %}</span>
            </div>
            {% empty %}
            <p>No user profiles found with country information.</p>
            {% endfor %}
        </div>
</div>
{% endblock %}