{% extends 'core/base.html' %}
{% load static %}

{% block title %}Queen's Circle{% endblock %}

{% block content %}
<div class="container text-center py-5">
    <h1 class="fw-bold mb-3 ">👑 Queen's Circle 👑</h1>
    <p class="text-muted mb-4">Queen's Circle Badge Holders</p>

    <img src="{% static 'core/badge.svg' %}" alt="Queen's Circle Badge" class="badge-icon mb-4">

    {% if badge_holders %}
    <div class="row justify-content-center">
        {% for holder in badge_holders %}
        <div class="col-md-4 col-lg-3 col-sm-6 mb-4">
            <div class="card border-0 shadow-sm py-3 px-2">
                <div class="d-flex flex-column align-items-center">


                    <h5 class="fw-semibold mb-1">{{ holder.user.first_name|default:holder.user.username }}</h5>

                    <p class="text-muted small mb-1">
                        {{ holder.country.name }}
                        <img src="{{ holder.country.flag }}" alt="{{ holder.country.name }}" class="ms-1"
                            style="width:20px; height:14px;">
                    </p>
                    <span class="badge bg-warning text-dark">Queen's Circle Member</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p class="text-secondary mt-5">No members have earned the badge yet. Be the first to join the Queen’s Circle!</p>
    {% endif %}
</div>
{% endblock %}