{% extends "core/base.html" %}
{% block title %}Sign Up{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
<div class="form-container">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}

    <h3 class="text-center mb-4">Create an Account</h3>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label>Email</label>
            <input type="email" name="email" class="form-control" required>
        </div>
        <div class="mb-3">
            <label>First Name</label>
            <input type="text" name="first_name" class="form-control" required>
        </div>
        <div class="mb-3">
            <label>Password</label>
            <input type="password" name="password1" class="form-control" required>
        </div>
        <div class="mb-3">
            <label>Confirm Password</label>
            <input type="password" name="password2" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <select class="form-select" id="country" name="country" required>
                <option value="" disabled selected>Select your country</option>
                {% for code, name in countries %}
                <option value="{{ code }}">{{ name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3"><strong>If you have been referred please whatsapp code to +27 0763706536 with message
                "Referral Code: [REFERER CODE]"</strong>
        </div>

        <button type="submit" class="btn btn-gold w-100">Sign Up</button>
    </form>
    <p class="text-center mt-3">
        Already have an account? <a href="{% url 'login' %}">Log In</a>
    </p>
</div>
{% endblock %}